.dt-pick-link {
	padding: 20px 0 25px;
}

.dt-pick-link span {
	color: #0079C2;
	cursor: pointer;
}

.dt-pick-link i {
	color: black;
}

.dt-pick-comp {
    margin: 0 0 50px;
    height: 20px;
}

.clearButton {
    margin-top: 20px;
}

.expandedRow {
    margin: 15px 0;
}
.expandedRow button {
    margin-right: 20px;
}
.totalBilled {
    border-top: 1px solid grey;
    padding-top: 15px;
    padding-left: 200px;
}
.scrollFiller, .grid.ui-grid, .ui-grid-header, .ui-grid-header-cell, .ui-grid-row .ui-grid-cell, .ui-grid-pinned-container.ui-grid-pinned-container-left .ui-grid-cell:last-child, .ui-grid-pinned-container.ui-grid-pinned-container-left .ui-grid-header-cell:last-child {
    border: 0px;
}
.ui-grid-expandable-buttons-cell i {
    color: #ff9900;
    cursor: pointer;
}
.ui-grid-top-panel, .ui-grid-row .ui-grid-cell.ui-grid-row-header-cell {
    background: transparent;
}
.ui-grid-column-menu-button {
    display: none;
}
.ui-grid-cell-contents {
    outline: none;
}
.dt-pick-comp input[readonly] {
    background-color: white;
}