#register.ng-invalid.ng-dirty {
    border-color: #FA787E;
  }

#register.ng-valid.ng-dirty {
    border-color: #78FA89;
  }
#register.ng-touched {
  	border-color: black;
  }
#resetButton{
	padding-top: 2cm;
}
.help-block{
	color: #FA787E;
}
.marginSubmitBtn{
	margin-bottom: 6px !important;
}
.tooltip.formTooltip .tooltip-inner{
	color: black;
	background-color: #b3e6ff;
}
.tooltip.formTooltip .tooltip-arrow{
 	/*  display:none;  */

}
#registerForm{
	border-style:solid;
border-color:grey;
border-width: 2px; 
width: relative; 
}
.resetBtn{
	margin-right: 10px;
}
.loginbtn{
	margin-right: 15px;
}
