.ng-invalid.ng-dirty {
    border-color: #FA787E;
  }

.ng-valid.ng-dirty {
    border-color: #78FA89;
  }
.ng-touched {
  	border-color: black;
  }
#resetButton{
	padding-top: 2cm;
}
.help-block{
	color: #FA787E;
}
.marginSubmitBtn{
	margin-bottom: 6px !important;
}