<div class="row section-header flex">
	<div class="container vertical-center">
		<div class="col-xs-12">
			Benefits
		</div>
	</div>
</div>
<div class="container section-content">
	<div class="container jumbotron">
	<a ui-sref-active="activeborder" ui-sref="benefits.find" class="col-sm-3 col-xs-6 text-center">
		<span class="glyphicon glyphicon-heart icon"></span>
      <div>Find Benefits</div>
  </a>
	<a ui-sref-active="activeborder" ui-sref="benefits.info" class="col-sm-3 col-xs-6 text-center">
	<span class="glyphicon glyphicon-edit icon"></span>
      <div>Plan Information</div>
  </a>
	<a ui-sref-active="activeborder" ui-sref="benefits.progress" class="col-sm-3 col-xs-6 text-center">
	<span class="glyphicon glyphicon-indent-right icon"></span>
      <div>Plan Progress</div>
  </a>
	<a ui-sref-active="activeborder" ui-sref="benefits.service" class="col-sm-3 col-xs-6 text-center">
	<span class="glyphicon glyphicon-random icon"></span>
      <div>Service Limits</div>
  </a>
  </div>
  <div ui-view class="container"></div>
</div>
