<div ng-controller="claimsCtrl" class="container-fluid nopadding">
<div class="col-xs-12 nopadding panel with-nav-tabs panel-default">
                <div class="section-header">
                        <ul class="nav nav-tabs container">
                            <li class="col-xs-4"><a data-target="#tab1default" data-toggle="tab">My Plan</a></li>
                            <li class="col-xs-4"><a data-target="#tab2default" data-toggle="tab">Find Care</a></li>
                            <li class="col-xs-4"><a data-target="#tab3default" data-toggle="tab">Support</a></li>
                        </ul>
                </div>
                <div class="panel-body container">
                    <div class="tab-content">
                        <div class="tab-pane fade in" id="tab1default">
                          <div class="col-xs-12 col-sm-3">
                            <h3>My Claim</h3>
                            <ul class="list-unstyled">
                              <li><a>Account Summary</a></li>
                              <li><a>Pharmacy</a></li>
                              <li><a>ID Card</a></li>
                              <li><a>Referalls and authorizations</a></li>
                              <li><a>Pay my Bill</a></li>
                              <li><a>Primary care physican</a></li>
                            </ul>
                          </div>
                          <div class="col-xs-12 col-sm-4">
                           <h3>Claims</h3>
                           <div><a>Claims</a></div>
                           <h3>Benefits</h3>
                            <ul class="list-unstyled">
                              <li><a ui-sref="benefits.find">Find Benefits</a></li>
                              <li><a ui-sref="benefits.info">Plan Information</a></li>
                              <li><a ui-sref="benefits.progress">Plan Progress</a></li>
                              <li><a ui-sref="benefits.service">Service Limits</a></li>
                            </ul>
                          </div>

                        </div>
                        <div class="tab-pane fade" id="tab2default">
                        <div class="col-xs-12 col-sm-3">
                            <h3>Find Care</h3>
                            <ul class="list-unstyled">
                              <li><a>Find a Doctor</a></li>
                              <li><a>Urgent Care</a></li>
                              <li><a>Estimate Your Cost</a></li>
                            </ul>
                        </div>
                        </div>
                        <div class="tab-pane fade" id="tab3default">
                        <div class="col-xs-12 col-sm-3">
                            <h3>Support</h3>
                            <ul class="list-unstyled">
                              <li><a>Contact Us</a></li>
                              <li><a>Message Center</a></li>
                              <li><a>Forms</a></li>
                              <li><a>FAQs</a></li>
                              <li><a>Glossary</a></li>
                            </ul>
                        </div>
                        </div>
                    </div>
                </div>
        </div>
</div>
<div  class="container" ng-controller="claimsCtrl">
	<h3 class="text-center">YOU HAVE {{gridOptions.data.length}} CLAIM(S) IN THE LAST 3 MONTHS</h3>
	<div class="dt-pick-link">
		<div class="col-md-7 text-right">
			<span ng-click="isDatePicker = !isDatePicker"><i class="glyphicon" ng-class="{'glyphicon-plus': !isDatePicker, 'glyphicon-minus': isDatePicker}"></i>&nbsp;VIEW DATE RANGE FILTER</span>
		</div>
		<div class="text-center">
			<label>Search:&nbsp;</label><input type="text" ng-model="searchText" ng-change="refreshData()" />
		</div>
	</div>
	<div class="dt-pick-comp" ng-show="isDatePicker">
		<div class="col-md-3 col-md-offset-3">
			<span>From:</span>
			<p class="input-group">
				<input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dtFrom" is-open="popups.opened1" datepicker-options="dateOptions1" ng-required="true" show-button-bar="false" readonly />
				<span class="input-group-btn">
					<button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
				</span>
			</p>
		</div>
		<div class="col-md-3">
			<span>To:</span>
			<p class="input-group">
				<input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dtTo" is-open="popups.opened2" datepicker-options="dateOptions2" ng-required="true" show-button-bar="false" readonly/>
				<span class="input-group-btn">
					<button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
				</span>
			</p>
		</div>
		<div class="col-md-1">
			<button class="btn btn-default clearButton" ng-click="filterDateRange()">Filter</button>
		</div>
		<div>
			<button class="btn btn-default clearButton" ng-click="clearDateRange()">Clear</button>
		</div>
	</div>
    <div ui-grid="gridOptions" ui-grid-expandable class="grid"></div>
</div>