<div ng-controller="claimsCtrl" class="container">
	<h3 class="text-center">YOU HAVE {{gridOptions.data.length}} CLAIM(S) IN THE LAST 3 MONTHS</h3>
	<div class="dt-pick-link">
		<div class="col-md-7 text-right">
			<span ng-click="isDatePicker = !isDatePicker"><i class="glyphicon" ng-class="{'glyphicon-plus': !isDatePicker, 'glyphicon-minus': isDatePicker}"></i>&nbsp;VIEW DATE RANGE FILTER</span>
		</div>
		<div class="text-center">
			<label>Search:&nbsp;</label><input type="text" ng-model="searchText" ng-change="refreshData()" />
		</div>
	</div>
	<div class="dt-pick-comp" ng-show="isDatePicker">
		<div class="col-md-3 col-md-offset-3">
			<span>From:</span>
			<p class="input-group">
				<input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dtFrom" is-open="popups.opened1" datepicker-options="dateOptions1" ng-required="true" show-button-bar="false" readonly />
				<span class="input-group-btn">
					<button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
				</span>
			</p>
		</div>
		<div class="col-md-3">
			<span>To:</span>
			<p class="input-group">
				<input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dtTo" is-open="popups.opened2" datepicker-options="dateOptions2" ng-required="true" show-button-bar="false" readonly/>
				<span class="input-group-btn">
					<button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
				</span>
			</p>
		</div>
		<div class="col-md-1">
			<button class="btn btn-default clearButton" ng-click="filterDateRange()">Filter</button>
		</div>
		<div>
			<button class="btn btn-default clearButton" ng-click="clearDateRange()">Clear</button>
		</div>
	</div>
    <div ui-grid="gridOptions" ui-grid-expandable class="grid"></div>
</div>