<!-- Page Content -->
<div class="container">
<!-- Call to Action Well -->
    <div class="row">
        <div ng-include="'views/banner.html'"></div>            
    </div>
    <!-- /.row -->
<!-- new Content Row 1-->
    <div class="row">
    <div class="col-md-12" >
        <br>
        <h2 align="center">We're glad you're here</h2>
        <p align="center">Welcome to our new Reimagined Member Site</p>
        <br>
        <div class="anthemAlert"><i class="glyphicon glyphicon-info-sign"></i>&nbsp;Read <a>here</a> for more information about Anthem's recent cyber attack.</div>
       
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center m-t-45">Your Recent Claims</h2>
            <div ng-include="'views/claims.html'"></div>
        </div>
    </div>

    <div class="m-t-15">
        <button ui-sref='claims' class="btn btn-warning center-block ">View All Claims</button>
    </div>
     <!-- end Content Row 1-->
</div>


<!-- /.container -->
