<!-- Page Content -->
<div class="container">
<!-- Call to Action Well -->
    <div class="row">
        <div ng-include="'views/banner.html'"></div>            
    </div>
    <!-- /.row -->
<!-- new Content Row 1-->
    <div class="row">
    <div class="col-md-12" >
        <br>
        <h2 class="font-glad" align="center">We're glad you're here</h2>
        <p align="center">Welcome to our new Reimagined Member site.</p>
        <br>
        <div class="anthemAlert"><i class="glyphicon glyphicon-info-sign"></i>&nbsp;Read <a href="https://www.anthem.com/health-insurance/about-us/pressreleasedetails/WI/2015/1813/statement-regarding-cyber-attack-against-anthem" target="_blank">here</a> for more information about Anthem's recent cyber attack.</div>
       
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center m-t-45">Your Recent Claims</h2>
           <div ng-controller="claimsCtrl">
		<div ui-grid="gridOptions" class="grid"></div>
    </div>
        </div>
    </div>

    <div class="m-t-15">
        <button ui-sref='claims' class="btn btn-warning center-block ">View All Claims</button>
    </div>
     <!-- end Content Row 1-->
</div>


<!-- /.container -->
