

    <div ng-include="'views/header.html'" class="row nomargin"></div>

    <!-- Page Content -->
    <div class="container">

        <!-- Heading Row 
        <div class="row">
            <div class="col-md-8">
                <img class="img-responsive img-rounded" src="http://placehold.it/900x350" alt="">
            </div>
           
            <div class="col-md-4">
                <h1>Business Name or Tagline</h1>
                <p>This is a template that is great for small businesses. It doesn't have too much fancy flare to it, but it makes a great use of the standard Bootstrap core components. Feel free to use this template for any project you want!</p>
                <a class="btn btn-primary btn-lg" href="#">Call to Action!</a>
            </div>
            
        </div>-->
        


        <!-- Call to Action Well -->
        <div class="row">
            <div ng-include="'views/banner.html'"></div>            
        </div>
        <!-- /.row -->

        
         <!-- new Content Row 1-->
        <div class="row">
        <div class="col-md-12" >
            <br>
            <h2 align="center">We're glad you're here</h2>
            <p align="center">Welcome to our new Reimagined Member Site</p>
            <br>
            <div style="background-color: #CCF0FF; width:600px; padding:18px; border: 1px solid navy;" align="center">Read <a>here</a> for more information about Anthem's recent cyber attack.</div>
           
            </div>
        </div>
        
         <!-- end Content Row 1-->
        <!-- Content Row -->
        <div class="row">
            <hr>
            <div class="col-md-4">
                
                <h2>footer part</h2>
                <p>sample text1</p>
              
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4">
                <h2>&nbsp;</h2>
                 <p>sample text2</p>
               
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4">
                <h2>&nbsp;</h2>
                 <p>sample text3</p>
                
            </div>
            <hr>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <h2>Social logo part</h2>
                </div>
            </div>
        </footer>

    </div>
    
   
    <!-- /.container -->
