<!-- <div class="container"> -->
    <div class="clearfix"></div>
    <div class="row" style="background-color:#336699;color: #fff " >
           
        <div class="col-md-12 text-center" > <h2>Samiam, let us help you with your plan.</h2></div>
        <div class="col-md-4 footerParts">
            <h4><span class="glyphicon glyphicon-cog"></span> Resources</h4>
            <a href="https://www.accenture.com" target="_blank">Access Your ID Card</a><br/>
            <a href="https://www.accenture.com" target="_blank">Update Other Instruction</a><br/>
            <a href="https://www.accenture.com" target="_blank">Authorization and Referrals</a><br/>
            <a href="https://www.accenture.com" target="_blank">Welcome to Anthem Tour</a>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 footerParts">
            <h4><span class="glyphicon glyphicon-heart"></span> Health</h4>
            <a href="https://www.accenture.com" target="_blank">Review Health Record</a><br/>
            <a href="https://www.accenture.com" target="_blank">Take Health Assessment</a><br/>
            <a href="https://www.accenture.com" target="_blank">Download Medical Claim Form</a>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 footerParts">
             <h4><span class="glyphicon glyphicon-folder-open"></span>&nbsp;Plan Tools</h4>
           <a href="https://www.accenture.com" target="_blank">Find Doctor</a><br/>
            <a href="https://www.accenture.com" target="_blank">Estimate your Cost</a><br/>
            <a href="https://www.accenture.com" target="_blank">Rx Calculator</a><br/>
            <a href="https://www.accenture.com" target="_blank">Drug Pricing</a>
        </div>
        <hr>
        <br>
         <div class="pull-right footerParts"><a href="#topBar"><span class="glyphicon glyphicon-circle-arrow-up" </span> Back to Top</a></div>
        <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->

    <div class="clearfix"></div>
    <div class="row" style="background-color:#1a75ff;color: #fff " >
       
        <div class="col-md-4 footerParts">
            
            <h4>Your Account</h4>
            <a href="https://www.accenture.com" target="_blank">Manage Your Profile</a><br/>
            <a href="https://www.accenture.com" target="_blank">Bill Pay Summary</a>

          
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 footerParts">
            <h4>Anthem Information</h4>
            <a href="https://www.accenture.com" target="_blank">Prescriptions</a>
           
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 footerParts">
            <h4>Other Anthem Sites</h4>
            <div class="dropdown">
                 <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Other Anthem Sites
                <span class="caret"></span></button>
                 <ul class="dropdown-menu">
                     <li><a href="#">Myte</a></li>
                     <li><a href="#">Payroll</a></li>
                    <li><a href="#">People</a></li>
                    <li><a href="#">Portal</a></li>
                 </ul>
             </div>
             <br>
             <h4>Other Languages</h4>
            <div class="dropdown">
                 <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Other Languages
                <span class="caret"></span></button>
                 <ul class="dropdown-menu">
                     <li><a href="#">Chinese</a></li>
                     <li><a href="#">Spanish</a></li>
                    <li><a href="#">German</a></li>
                 </ul>
             </div>
            
        </div>
        <hr>
        <br>
         <div class="col-md-12 text-center" > <h2><i class="fa fa-facebook"></i></h2></div>
          <div class="col-md-12 text-center" > <h5><span class="glyphicon glyphicon-copyright-mark"></span> 2005-2016 Copyright of Anthem, Inc.</h5></div>
          <div class="col-md-12 text-center" > <h5>Serving Colorado, Connecticut, Georgia, Indiana, Kentucky, Maine, Missouri, Nevada, New Hampshire, Ohio, Virgiana and Wiscorsin</h5></div>
        <!-- /.col-md-4 -->
    </div>
<!-- </div> -->