    <footer>
        <div class="footer" ng-controller="loginCtrl">
           <div class="container narrow row-fluid" ng-if="login.length > 0">
              <div class="col-md-12 text-center" >
                  <h3 class="fontcolorsize">{{frstName}}, let us help you with your plan</h3>
               </div> <div class="col-md-1 " ></div>

                <div class="col-md-4 fontcolor">
                    <div class="col-md-12"  ><h4 ><span class="glyphicon glyphicon-cog"></span>&nbsp;Resources</h4></div>
                    <div class="col-md-12"  ><a href="https://www.accenture.com" target="_blank">Access Your ID Card</a></div>  
                    <div class="col-md-12"  ><a href="https://www.accenture.com" target="_blank">Update Other Instruction</a></div>  
                    <div class="col-md-12"  ><a href="https://www.accenture.com" target="_blank">Authorization and Referrals</a></div>  
                    <div class="col-md-12"  ><a href="https://www.accenture.com" target="_blank">Welcome to Accenture Tour</a></div>  
                </div>
               
               <div class="col-md-4 fontcolor" >
                    <div class="col-md-12"  ><h4 ><span class="glyphicon glyphicon-heart"></span>&nbsp;Health</h4></div>
                    <div class="col-md-12"  ><a href="https://www.accenture.com" target="_blank">Review Health Record</a></div>  
                    <div class="col-md-12"  ><a href="https://www.accenture.com" target="_blank">Take Health Assessment</a></div>  
                    <div class="col-md-12"  ><a href="https://www.accenture.com" target="_blank">Download Medical Claim Form</a></div>  
                    
                </div>
               <div class="col-md-3 fontcolor" >
                    <div class="col-md-12"  ><h4 ><span class="glyphicon glyphicon-folder-open"></span>&nbsp;&nbsp;Plan Tools</h4></div>
                    <div class="col-md-12"  ><a href="https://www.accenture.com" target="_blank">Find Doctor</a></div>  
                    <div class="col-md-12"  ><a href="https://www.accenture.com" target="_blank">Estimate your Cost</a></div>  
                    <div class="col-md-12"  ><a href="https://www.accenture.com" target="_blank">Rx Calculator</a></div> 
                    <div class="col-md-12"  ><a href="https://www.accenture.com" target="_blank">Drug Pricing</a></div> 
                    
                </div>
               
                <div class="col-md-12 text-right" >
                <a href="#topnav" onclick="$('html,body').animate({scrollTop:0},'slow');return false;">  <h3 class="fonttop"><span class="glyphicon glyphicon-arrow-up"></span> Back to Top</h3></a>
               </div> 
           </div>
            
             
        </div>
         <div class="footerbottom">
           <div class="container narrow row-fluid">
               <div class="col-md-1"></div>
                <div class="col-md-4 fontcolor" ng-if="login.length > 0">
                <div class="col-md-12"  ><h4 >Your Account</h4></div>
                <div class="col-md-12"  ><a href="https://www.accenture.com" target="_blank">Manage Your Profile</a></div>  
                <div class="col-md-12"  ><a href="https://www.accenture.com" target="_blank">Bill Pay - Summary</a></div>  
                </div>
               
               <div class="col-md-4 fontcolor" ng-if="login.length > 0">
                    <div class="col-md-12"  ><h4 >Accenture Information</h4></div>
                    <div class="col-md-12"  ><a href="https://www.accenture.com" target="_blank">Prescriptions</a></div>  
               </div>
               
               <div class="col-md-3 fontcolor" ng-if="login.length > 0">
                <div class="col-md-12"  ><h5 >Other Accenture Sites</h5></div>
                <div class="col-md-12"  >
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Other Accenture Sites?
                        <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                          <li><a href="#"> Accenture Site1</a></li>
                          <li><a href="#">Accenture Site2</a></li>
                          <li><a href="#">Accenture Site3</a></li>
                        </ul>
                    </div>
                </div>  
                   <div class="col-md-12"  ><a href="https://www.accenture.com" target="_blank">Other Languages</a></div>  
                    <div class="col-md-12"  >
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Other Languages
                        <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                          <li><a href="#"> Language1</a></li>
                          <li><a href="#">Language2</a></li>
                          <li><a href="#">Language3</a></li>
                        </ul>
                      </div>
                   </div> 
                  </div>
               
                <div class="col-md-12 text-center fontcolor" >
                    <span ><img src="images/facebook.png" ></span>&nbsp; &nbsp;
                    <span ><img src="images/twitter.png" ></span> &nbsp;&nbsp;
                    <span ><img src="images/youtube.png" ></span>&nbsp;&nbsp;
                   
                         &nbsp;&nbsp;Use the App<br>
                 
                     
                 
               </div> 
               <div class="col-md-12 text-center fontspace" > &copy;2005-2016 copyright of Accenture, Inc.</div>
               <div class="col-md-12 text-center fontspace" > Serving Colorado, Connecticut, Georgia, Indiana, Kentucky, Maine, Missouri, Nevada, New Hampshire, Ohio, Virgiana and Wiscorsin</div>
            </div>   
            
        </div>
    </footer>