<div ng-controller="loginCtrl">
<nav class="navbar-tabs" role="navigation">
    <div class="navbar-header col-sm-5 col-xs-4 vertical-center">
      <div class="dropdown" ng-if="login.length > 0">
        <div class="dropdown-toggle flex h4" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <span class="glyphicon glyphicon-menu-hamburger vertical-center"></span>
          <span class="vertical-center">Menu</span>
        </div>
        <!--
        <ul class="dropdown-menu" id="dropdownMenu1" aria-labelledby="dropdownMenu1">
          <li><a id="aboutus" ui-sref="home">About Us</a></li>
          <li><a id="contactus" ui-sref="home">Contact Us</a></li>
          <li ng-if="login.length > 0" ng-click="logout();"><a>Logout</a></li>
        </ul>
        -->
      </div>
    </div>
    <div class="navbar-header col-sm-2 col-xs-3 vertical-center">
      <img src="images/accentureLogo.png" width="auto" height="60px;">
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="glyphicon glyphicon-menu-hamburger vertical-center"></span>
                </button>
    
    <div class="collapse navbar-collapse pull-right col-sm-5 col-xs-5 vertical-center nopadding" id="bs-example-navbar-collapse-1" ng-if="login.length > 0">
      <ul class="nav navbar-nav navlinks-right hidden-xs">
        <li>
          <a href="https://policies.accenture.com/" target="_blank">
          <span class="glyphicon glyphicon-search"></span>
          </a>
        </li>
        <li>
          <a href="https://portal.accenture.com" target="_blank">
          <span class="glyphicon glyphicon-th"></span>
          </a>
        </li>
        <li>
          <a href="https://email.accenture.com" target="_blank">
          <span class="glyphicon glyphicon-envelope"></span>
          </a>
        </li>
        <li>
          <a ng-click="logout()">
          <span class="glyphicon glyphicon-user"></span>
          </a>
        </li>
      </ul>
      <ul class="visible-xs pull-right list-unstyled">
        <li>
          <a href="https://policies.accenture.com/" target="_blank">
          <span class="glyphicon glyphicon-search"></span> Search
          </a>
        </li>
        <li>
          <a href="https://portal.accenture.com" target="_blank">
          <span class="glyphicon glyphicon-th"></span> Dashboard
          </a>
        </li>
        <li>
          <a href="https://email.accenture.com" target="_blank">
          <span class="glyphicon glyphicon-envelope"></span> Messages
          </a>
        </li>
        <li>
          <a ng-click="logout()">
          <span class="glyphicon glyphicon-user"></span> Settings
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>  