<div ng-controller="loginCtrl">
<nav class="navbar-tabs" role="navigation">
    <div class="navbar-header col-sm-5 col-xs-4 vertical-center">
      <div class="dropdown" ng-if="login.length > 0">
        <div class="dropdown-toggle flex h4" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <span class="glyphicon glyphicon-menu-hamburger vertical-center"></span>
          <span class="vertical-center">Menu</span>
        </div>
        <!--
        <ul class="dropdown-menu" id="dropdownMenu1" aria-labelledby="dropdownMenu1">
          <li><a id="aboutus" ui-sref="home">About Us</a></li>
          <li><a id="contactus" ui-sref="home">Contact Us</a></li>
          <li ng-if="login.length > 0" ng-click="logout();"><a>Logout</a></li>
        </ul>
        -->
      </div>
    </div>
    <div class="navbar-header col-sm-2 col-xs-3 vertical-center">
      <img src="images/accentureLogo.png" width="auto" height="60px;">
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="glyphicon glyphicon-menu-hamburger vertical-center"></span>
                </button>
    
    <div class="collapse navbar-collapse pull-right col-sm-5 col-xs-5 vertical-center nopadding" id="bs-example-navbar-collapse-1" ng-if="login.length > 0">
      <ul class="nav navbar-nav navlinks-right hidden-xs">
        <li>
          <a href="https://policies.accenture.com/" target="_blank">
          <span class="glyphicon glyphicon-search"></span>
          </a>
        </li>
        <li>
          <a href="https://portal.accenture.com" target="_blank">
          <span class="glyphicon glyphicon-th"></span>
          </a>
        </li>
        <li>
          <a href="https://email.accenture.com" target="_blank">
          <span class="glyphicon glyphicon-envelope"></span>
          </a>
        </li>
        <li>
          <a href="https://people.accenture.com" target="_blank">
          <span class="glyphicon glyphicon-user"></span>
          </a>
        </li>
      </ul>
      <ul class="visible-xs pull-right list-unstyled">
        <li>
          <a href="https://policies.accenture.com/" target="_blank">
          <span class="glyphicon glyphicon-search"></span> Search
          </a>
        </li>
        <li>
          <a href="https://portal.accenture.com" target="_blank">
          <span class="glyphicon glyphicon-th"></span> Dashboard
          </a>
        </li>
        <li>
          <a href="https://email.accenture.com" target="_blank">
          <span class="glyphicon glyphicon-envelope"></span> Messages
          </a>
        </li>
        <li>
          <a href="https://people.accenture.com" target="_blank">
          <span class="glyphicon glyphicon-user"></span> Settings
          </a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
    <div class="col-xs-12 panel with-nav-tabs panel-default">
                <div class="section-header">
                        <ul class="nav nav-tabs nav-justified">
                            <li><a href="#tab1default" data-toggle="tab">My Plan</a></li>
                            <li><a href="#tab2default" data-toggle="tab">Find Care</a></li>
                            <li><a href="#tab3default" data-toggle="tab">Support</a></li>
                        </ul>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane fade in" id="tab1default">
                          <div class="col-xs-12 col-sm-3">
                            <h3>My Claim</h3>
                            <ul class="list-unstyled">
                              <li><a>Account Summary</a></li>
                              <li><a>Pharmacy</a></li>
                              <li><a>ID Card</a></li>
                              <li><a>Referalls and authorizations</a></li>
                              <li><a>Pay my Bill</a></li>
                              <li><a>Primary care physican</a></li>
                            </ul>
                          </div>
                          <div class="col-xs-12 col-sm-4">
                           <h3>Claims</h3>
                           <div><a>Claims</a></div>
                           <h3>Benefits</h3>
                            <ul class="list-unstyled">
                              <li><a>Find Benefits</a></li>
                              <li><a>Plan Information</a></li>
                              <li><a>Plan Progress</a></li>
                              <li><a>Service Limits</a></li>
                            </ul>
                          </div>

                        </div>
                        <div class="tab-pane fade" id="tab2default">
                        <div class="col-xs-12 col-sm-3">
                            <h3>Find Care</h3>
                            <ul class="list-unstyled">
                              <li><a>Find a Doctor</a></li>
                              <li><a>Urgent Care</a></li>
                              <li><a>Estimate Your Cost</a></li>
                            </ul>
                        </div>
                        </div>
                        <div class="tab-pane fade" id="tab3default">
                        <div class="col-xs-12 col-sm-3">
                            <h3>Support</h3>
                            <ul class="list-unstyled">
                              <li><a>Contact Us</a></li>
                              <li><a>Message Center</a></li>
                              <li><a>Forms</a></li>
                              <li><a>FAQs</a></li>
                              <li><a>Glossary</a></li>
                            </ul>
                        </div>
                        </div>
                    </div>
                </div>
        </div>
  </nav>