
<div class="row  col-md-12" style="padding:50px;">
    <div class="container">
        <div class="col-md-6 col-md-offset-2">
            <h2 class="text-center">LOGIN</h2>
            <div id="loginModal" class=" " role="dialog" aria-hidden="true">
                <div class="" ng-controller="loginCtrl">
                  <form class="form col-md-12 center-block" name="signinForm" ng-submit="onLogin(username, password)">
                    <div class="form-group">
                      <input type="text"  tooltip-class="formTooltip" tooltip-placement="bottom" uib-tooltip="Provide your username" tooltip-trigger="mouseenter"  type="text" class="form-control input-lg" ng-model="username" name="username" placeholder="Username" required>
                      <div class="help-block" ng-messages="signinForm.username.$error" ng-if="signinForm.username.$dirty">
                        <p ng-message="required">Your username is required.</p>
                    </div>
                    </div>
                    <div class="form-group">
                      <input type="password"  tooltip-class="formTooltip" tooltip-placement="bottom" uib-tooltip="Provide your password" tooltip-trigger="mouseenter" type="text" class="form-control input-lg" ng-model="password" name="password" placeholder="Password" required>
                      <div class="help-block" ng-messages="signinForm.password.$error" ng-if="signinForm.password.$dirty">
                        <p ng-message="required">Your password is required.</p>
                      </div>
                      <div class="alert alert-danger default" ng-hide="hidden" role="alert">
                          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                          <span class="sr-only" ng-class="{fade: startFade}">Error:</span>
                              {{error}}
                      </div>
                    </div>
                    <div class="form-group">
                      <button type="submit" class="btn btn-primary btn-lg btn-block">Sign In</button>
                      <a ui-sref="register" class="pull-right"><strong>Not a member? Register Now!</strong></a>
                      <!--<button class="btn btn-primary btn-lg btn-block" ui-sref="register">Register</button>-->
                    </div>
                  </form>
              </div>
            </div>
        </div>
    </div>
</div>