<div style="width:100%;height: 43px;background-color: #336699;">
<div style="font-size: 24px;color: white;margin-left: 17px;padding-top: 6px; " >Member ID Cards</div>
</div>


<div ng-controller="memberCardCtrl">
  <div class="container" style="text-align: left;width: 75%;margin-top: 10px;">
    <p style="margin-left: 60px;">select a family memberand choose one or more ID cards to print ,email,fax,mail or download</p>
<ul>
  <li ng-repeat="memberCard in MemberCardDetails">
    <div class="expandcollapse-item" align="center">
      <div style=" background-color: #D6EAF8; color: #0d3349;" ng-click="active = !active" ng-class="{'expandcollapse-heading-collapsed': active, 'expandcollapse-heading-expanded': !active}">

        <div  class="expandFont" style="padding-top: 5px;font-size: 15px; ">
          <span ng-hide="!active"  class="glyphicon glyphicon-plus-sign" style="padding-left: 10px;color:  #FF6347;"></span>
          <span ng-hide="active" class="glyphicon glyphicon-minus-sign" style="padding-left: 10px;color:  #FF6347;padding-right: 5px;"></span>{{memberCard.userName}}</div>
      </div>

      <div class="slideDown" ng-hide="active" >
        <div class="expand-collapse-content" style="height: 85%;padding-top:7px;padding-left:10px;">
          <div><input id="checkSelect{{$index}}" type="checkbox"  ng-model="selectAll" ng-change="changeSelectAll($index,MemberCardDetails);" >Select All</div>
           <div style="width: 50%;float: left">
             <div  style="width: 100%;height:210px;float: left;">
               <div>
             <input id="memberIdOne{{$index}}"  type="checkbox"  />Member Id Card</div>
            <img id="show1Flip{{$index}}"   class="img-responsive " src="{{memberCard.card1frontURL}}" alt="slider_image" style="width: 270px;height: 170px;float: left;margin-top: 8px;">
               <img id="show1Flipback{{$index}}"   class="img-responsive " src="{{memberCard.card1backURL}}" alt="slider_image" style="display:none;width: 270px;height: 170px;float: left;margin-top: 8px;">
             </div>
             <div style="color: #FF6347;width: 100%;height:10%;padding-left: 40px;">
               <span class="glyphicon glyphicon-zoom-in" data-target=".bs-example-modal-lg" >Zoom</span>

               <span class="glyphicon glyphicon-refresh" style="padding-left: 30px;" ng-click="showFlipImage('flip1',$index);">Flip</span>

             </div>
           </div>
          <div style="width: 50%;float: left">
            <div  style="height:210px;float: left">

              <div>
            <input id="memberIdTwo{{$index}}"  type="checkbox"   />Member Id Card</div>
            <img id="show2Flip{{$index}}"  class="img-responsive " src="{{memberCard.card2frontURL}}" alt="slider_image"  style="width: 270px;height: 170px;float: left;margin-top: 8px;">
              <img id="show2Flipback{{$index}}"  class="img-responsive " src="{{memberCard.card2backURL}}" alt="slider_image"  style="display:none;width: 270px;height: 170px;float: left;margin-top: 8px;">
            </div>
          </div>
            <div style="color:  #FF6347;width: 100%;height:10%;padding-left: 40px;">
            <span class="glyphicon glyphicon-zoom-in">Zoom</span>
              <span class="glyphicon glyphicon-refresh" style="padding-left: 30px;" ng-click="showFlipImage('flip2',$index);">Flip</span></div>
         </div>
           <div style="width:100%;height:50px;background-color: #D8D8D8;" style="height: 15%">
          <div style="margin-left: 17px;padding-top: 10px;cursor: pointer;" >What would you liketo do?
            <span style="margin-left: 20px;color:  #FF6347;" class="glyphicon glyphicon-print">Print </span>
            <span style="margin-left: 20px;color:  #FF6347;" class="glyphicon glyphicon-envelope">Inbox</span>
            <span style="margin-left: 20px;color:  #FF6347;" class="glyphicon glyphicon-floppy-disk">Fax</span>
            <span style="margin-left: 20px;color:  #FF6347;" class="glyphicon glyphicon-send">Mail</span>
            <span style="margin-left: 20px;color:  #FF6347;" class="glyphicon glyphicon-download-alt">Download</span>
          </div>
        </div>
      </div>
    </div>
  </li>
</ul>

    </div>
  </div>
