
<!--login modal-->
<div id="loginModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ui-sref="login">×</button>
          <h1 class="text-center">REGISTER</h1>
      </div>
      <div class="modal-body">
          <form class="form col-md-12 center-block" name="signupForm" ng-submit="signupForm.$valid && registerUser()" novalidate>
            <fieldset class="form-group">
              <input required type="text" class="form-control input-lg" placeholder="First Name" name="firstName"  ng-maxlength="25" ng-pattern="/^[a-zA-Z]*$/" ng-model="newUser.firstName" />
 <div class="help-block" ng-messages="signupForm.firstName.$error" ng-if="signupForm.firstName.$dirty">
      <p ng-message="maxlength">Your first name is too long. Max length is 25 characters.</p>
      <p ng-message="required">Your first name is required.</p>
      <p ng-message="pattern"> You cannot use any symbols or numbers! </p>
      </div>


            </fieldset>
            <fieldset class="form-group">
              <input  required type="text" ng-model="newUser.lastName" class="form-control input-lg" placeholder="Last name" name="lastName"  ng-maxlength="25" ng-pattern="/^[a-zA-Z]*$/"/>

               <div class="help-block" ng-messages="signupForm.lastName.$error" ng-if="signupForm.lastName.$dirty">
      <p ng-message="maxlength">Your last name is too long. Max length is 25 characters.</p>
      <p ng-message="required">Your last name is required.</p>
      <p ng-message="pattern"> You cannot use any symbols or numbers! </p>
      </div>
            </fieldset>
              
               <fieldset class="form-group">
              <input required type="text" ng-model="newUser.userName" class="form-control input-lg" placeholder="Enter a username" name="userName"  
              ng-minlength="3" ng-maxlength="20" ng-pattern="/^[a-zA-Z0-9_]*$/"/>

      <div class="help-block" ng-messages="signupForm.userName.$error" ng-if="signupForm.userName.$dirty">
      <p ng-message="minlength">Your username is too short. Min length is 3.</p>
      <p ng-message="maxlength">Your username is too long. Max length is 15. </p>
      <p ng-message="required">Your username is required.</p>
      <p ng-message="pattern"> You cannot use any symbols! Underscore is allowed. </p>
      </div>


            </fieldset>
              
               <fieldset class="form-group">
              <input required type="email" ng-model="newUser.email" class="form-control input-lg" placeholder="name@example.com" name="email"/>
                <div class="help-block" ng-messages="signupForm.email.$error" ng-if="signupForm.email.$dirty">
      <p ng-message="required">Your email address is required!</p>
      <p ng-message="email"> Your email address is not valid! </p>
      </div>

            </fieldset>
              
               <fieldset class="form-group">
              <input  required type="password" ng-model="newUser.password" class="form-control input-lg" placeholder="Enter a 8 letter password" name="password"  ng-minlength="8"/>
                <div class="help-block" ng-messages="signupForm.password.$error" ng-if="signupForm.password.$dirty">
      <p ng-message="minlength">Your Password is too short. Minimum length is 8.</p>
      <p ng-message="required">Your password is required </p>
          </div>

            </fieldset>
              
               <fieldset class="form-group">
              <input required type="password" ng-model="comparePassword" class="form-control input-lg" placeholder="Repeat the password" name="passwordRepeat" ng-minlength="8" ui-validate=" '$value==newUser.password'"/>
              <div class="help-block" ng-messages="signupForm.passwordRepeat.$error" ng-if="signupForm.passwordRepeat.$dirty">
      <p ng-message="minlength">Your Password is too short. Minimum length is 8.</p>
      <p ng-message="required">Enter the same password again!</p>
      <p ng-message="validator"> Passwords don't match! </p>
      </div>

            </fieldset>
              
            <fieldset style="margin-bottom: 6px !important;">
              <input required type="submit" class="btn btn-primary btn-lg btn-block"
               ng-disabled="!signupForm.$valid" value="Register" ng-click="registerUser()"/>
            
            </fieldset id="resetButton"  >
              <button type="reset" class="btn btn-info btn-lg pull-left" ng-click="formReset()"> Reset </button>

             
          <a ui-sref="login"  class="btn btn-info btn-lg pull-right">Cancel</a>

          </form>  

     </div> 
     <div class="modal-footer">
               <div class="col-md-12">
     
		  </div> 	
      </div>
  </div>
  </div>
</div>
	</body>
</html>