
  <div class="container" >
  
       <div class="col-lg-6 col-lg-offset-3" > 
          <h2 class="text-center">User Registration</h2>
     <!--Alert messages-->
<div ng-if="showStatus">
<uib-alert class="col-lg-6 col-lg-offset-3" type="success" close="closeAlert1()" ng-if="showSuccess" role="alert" dismiss-on-timeout="6000"  > 
                          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" ></span>
                          <span class="sr-only" ng-class="{fade: startFade}">Success:</span>
                              {{statusMsg}}
                      </uib-alert>   
<uib-alert type="danger" close="closeAlert2()" ng-if="showFailure" role="alert" > 
                          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" ></span>
                          <span class="sr-only" ng-class="{fade: startFade}">Failure:</span>
                              {{statusMsg}}
                      </uib-alert>   
</div>
          <form class="form col-md-12 center-block" name="signupForm" ng-submit="signupForm.$valid && registerUser()" novalidate>
            <fieldset class="form-group">
            <input tooltip-class="formTooltip" tooltip-placement="bottom" uib-tooltip="Provide your first name. Special characters and numbers are not allowed"  tooltip-trigger="mouseenter" tooltip-enable="!newUser.firstName" required type="text" class="form-control input-lg" id="register" placeholder="First Name" name="firstName"  ng-maxlength="25" ng-pattern="/^[a-zA-Z ]*$/" ng-model="newUser.firstName" />
 <div class="help-block" ng-messages="signupForm.firstName.$error" ng-if="signupForm.firstName.$dirty">
      <p ng-message="maxlength">Your first name is too long. Maximum length is 25 characters.</p>
      <p ng-message="required">Your first name is required.</p>
      <p ng-message="pattern"> You cannot use any symbols or numbers! </p>
      </div>


            </fieldset>
            <fieldset class="form-group">
             <input tooltip-class="formTooltip"  tooltip-placement="bottom" uib-tooltip="Provide your last name. Special characters and numbers are not allowed"  id="register"  tooltip-trigger="mouseenter" tooltip-enable="!newUser.lastName"  required type="text" ng-model="newUser.lastName" class="form-control input-lg" placeholder="Last name" name="lastName"  ng-maxlength="25" ng-pattern="/^[a-zA-Z ]*$/"/>

               <div class="help-block" ng-messages="signupForm.lastName.$error" ng-if="signupForm.lastName.$dirty">
      <p ng-message="maxlength">Your last name is too long. Maximum length is 25 characters.</p>
      <p ng-message="required">Your last name is required.</p>
      <p ng-message="pattern"> You cannot use any symbols or numbers! </p>
      </div>
            </fieldset>
              
               <fieldset class="form-group">
             <input tooltip-class="formTooltip"  id="register"  tooltip-placement="bottom" uib-tooltip="Select a unique username. Numbers and underscore is allowed, other symbols are not"  tooltip-trigger="mouseenter" tooltip-enable="!newUser.userName" required type="text" ng-model="newUser.userName" class="form-control input-lg" placeholder="Enter a username" name="userName"  
              ng-minlength="3" ng-maxlength="20" ng-pattern="/^[a-zA-Z0-9_.]*$/"/>

      <div class="help-block" ng-messages="signupForm.userName.$error" ng-if="signupForm.userName.$dirty">
      <p ng-message="minlength">Your username is too short. Minimum length is 3.</p>
      <p ng-message="maxlength">Your username is too long. Maximum length is 15. </p>
      <p ng-message="required">Your username is required.</p>
      <p ng-message="pattern"> You cannot use any symbols! Underscore and dot are allowed. </p>
      </div>


            </fieldset>
              
               <fieldset class="form-group">
              <input  tooltip-class="formTooltip" id="register" tooltip-placement="bottom" uib-tooltip="Provide your email address here"  tooltip-trigger="mouseenter" tooltip-enable="!newUser.email"  required type="email" ng-model="newUser.emailAddress" class="form-control input-lg" placeholder="name@example.com" name="email"/>
                <div class="help-block" ng-messages="signupForm.email.$error" ng-if="signupForm.email.$dirty">
      <p ng-message="required">Your email address is required!</p>
      <p ng-message="email"> Your email address is not valid! </p>
      </div>

            </fieldset>
              
               <fieldset class="form-group">
              <input  tooltip-class="formTooltip"  id="register" tooltip-placement="bottom" uib-tooltip="Select a strong 8 character password"  tooltip-trigger="mouseenter" tooltip-enable="!newUser.password" required type="password" ng-model="newUser.password" class="form-control input-lg" placeholder="Enter a 8 letter password" name="password"  ng-minlength="8"/>
                <div class="help-block" ng-messages="signupForm.password.$error" ng-if="signupForm.password.$dirty">
      <p ng-message="minlength">Your Password is too short. Minimum length is 8.</p>
      <p ng-message="required">Your password is required </p>
          </div>

            </fieldset>
              
               <fieldset class="form-group">
              <input tooltip-class="formTooltip"  id="register" tooltip-placement="bottom" uib-tooltip="Repeat the same password"  tooltip-trigger="mouseenter" tooltip-enable="!comparePassword" required type="password" ng-model="comparePassword" class="form-control input-lg" placeholder="Repeat the password" name="passwordRepeat" ng-minlength="8" ui-validate=" '$value==newUser.password'"/>
              <div class="help-block" ng-messages="signupForm.passwordRepeat.$error" ng-if="signupForm.passwordRepeat.$dirty">
      <p ng-message="minlength">Your Password is too short. Minimum length is 8.</p>
      <p ng-message="required">Enter the same password again!</p>
      <p ng-message="validator"> Passwords don't match! </p>
      </div>

            </fieldset>
              
            <fieldset class="marginSubmitBtn">
              <input required type="submit" class="btn btn-success btn-lg"
               ng-disabled="!signupForm.$valid" value="Register" />
              

              <button ui-sref="login" class="btn btn-info btn-lg pull-right" id="cancel">Cancel</button>
         <button type="reset" class="btn btn-info btn-lg pull-right resetBtn" ng-click="formReset()" id="reset"> Reset </button>

          
            </fieldset id="resetButton"  >
          </form>  

     </div> 
   

      </div>
  </div>
  </div>
